<div class="main" [ngClass]="{ 'scrolled' : scrolled === 1, 'scrolled-bottom' : scrolled === 2 }">
  <div class="section intro">
    <div class="text-container">
      <h1 class="title">This is me</h1>
      <h3 class="subtitle">Atli Sævar Guðmundsson</h3>
    </div>
    <div class="down-arrow">
      <h1 class="my-story">My Story</h1>
      <i class="fa fa-long-arrow-down fa-2x" aria-hidden="true"></i>
    </div>
  </div>
  <div class="section highlights" [ngClass]="{ 'bigger-section': milestone.background !== '' }" *ngFor="let milestone of milestones">
    <span class="text-container">
      <h1 class="time">{{milestone.time}}</h1>
      <h3 class="milestone">{{milestone.text}}</h3>
    </span>
    <span class="image-container" *ngIf="milestone.background !== ''">
      <img [src]="milestone.background" alt="">
    </span>
  </div>
</div>